body{
    min-width: 1024px;
    background: url(../img/bg.jpg) top right;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: white;
}
a{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: gray;
    padding-right: 20px;
    text-decoration: none;
    background-color: transparent;
}
a:hover, .active{
    color: white;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}
.container{
    padding-top: 230px;
    width: 1118px;
    margin: auto;
}
.header span{
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}
.header h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.header p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 20px;
}
#heading{
    background-color: rgba(0, 0, 0, 0.8);
}
.heading{
    display: flex;
    width: 1118px;
    margin: auto;
}
.head1,.head2{
    flex-basis: 50%;
    padding-top: 20px;
}
.head1 h2{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
}
.aboutme{
    background-color: black;
    width: 1118px;
    margin: auto;
    padding-top: 20px;
}

.contact-body{
    background-color: rgba(0, 0, 0, 0.8);
    width: 1118px;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}
h2{
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}
.set1, .set2{
    display: flex;
    padding-bottom: 20px;
}
.set11, .set12, .set21, .set22{
    flex-basis: 50%;
    background-color: rgba(128, 128, 128, 0.1);
    border:solid rgba(0, 0, 0, 0.5);
    height:100px;
    width: 300px;
    margin-left: 20px;
    text-align: center;
} 
.contact-set2{
    padding: 20px;
    margin-left: 20px;
    background-color: rgba(128, 128, 128, 0.08);
}
.form-head input{
    border: none;
    margin-left: 20px;
    width:478px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.1);
}
.form-body input{
    background-color: rgba(128, 128, 128, 0.1);
    margin-left: 20px;
    width: 1009px;
    margin-top: 10px;
    padding: 10px;
    border: none;
}
.form-message input{
    background-color: rgba(128, 128, 128, 0.1);
    margin-left: 20px;
    height: 100px;
    width: 1030px;
    padding-top: 10px;
    margin-top: 10px;
    border: none;
}
.form-container button{
    margin-top: 20px;
    margin-left: 450px;
    background-color: #18d26e;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
}
.service-set{
    background-color: rgba(0, 0, 0, 0.8);
    width: 1118px;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
}
.service-set1, .service-set2{
    display: flex;
}
.service1, .service2, .service3, .service4, .service5, .service6{
    flex-basis: 33%;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px 20px;
    border-left-width: 50px;
    border-left-width: 50px;
    border:solid rgba(0, 0, 0, 0.8);
    height:300px;
    width: 300px;
    margin-left: 20px;
    text-align: center;
}
.service1:hover, .service2:hover, .service3:hover, .service4:hover, .service5:hover, .service6:hover{
    background-color: #18d26e;
}
h3{
    margin: 20px;
}
h3::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}